.profile__container {
  display: flex;

}

@media screen and (max-width: 1023px) {
  .profile__container {
    margin: 0 auto 36px auto;


  }
}

@media screen and (max-width: 320px) {
  .profile__container {
    justify-content: flex-end;
    margin: 0 19px 33px auto;


  }
}
