.header__logo {
  background-image: url(../../../images/Vector.svg);
  background-size: 100%;
  width: 142px;
  height: 33px;
  margin: 0 auto 40px 0;
}

@media screen and (max-width: 1024px) {
  .header__logo {
    width: 108px;
    height: 25px;
    margin: 0 auto 31px 27px;
}
}
